body {
  @include typography;
  line-height: 25px;
}

h1 {
  @include typography($font-family-title,map-get($colors,neutral,dark),map-get($sizes,large,600));
  @include spacing(margin,0, 0,32px, 0);
}

h2 {
  @include typography($font-family-title,map-get($colors,neutral,dark),map-get($sizes,large,400));
  @include spacing(margin,0, 0,16px, 0);
}

p {
  @include spacing(margin,0,0,16px,0);
}

button {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2.75rem;
}