///@group gradient
///@param {string|number} $direction - direction of gradient
///@param {color} $colors - colors of gradient
@mixin linear-gradient($direction, $colors) {
  background: linear-gradient($direction, $colors);
};

///@group typography
///@param {string} $family [$font-families-text] - font family
///@param {string} $color [map-get($colors, neutral, normal)] - colors of font
///@param {string} $size [map-get($sizes, medium, 300)] - size of font in rem
@mixin typography(
  $family: $font-family-text,
  $color: map-get($colors, neutral, dark),
  $size: map-get($sizes, medium, 300)
) {
  font-family: $family;
  color: $color;
  font-size: $size;
};

///@group spacing
///@param {type} $type - margin|padding
///@param {string} $top - value of margin top
///@param {string} $right - value of margin right
///@param {string} $bottom - value of margin bottom
///@param {string} $left - value of margin left
@mixin spacing($type,$top: 0,$right: 0,$bottom: 0,$left: 0) {
  $s: $top $right $bottom $left;
  @each $key, $size in $s {
    @if $key != 0 and unit($key) != "px" {
      @error "L'unité doit être en pixel(px)."
    }
  }
  @if $type == "padding" {
    padding: $s;
  }
  @if $type == "margin" {
    margin: $s;
  }
};

@mixin spacing-margin-auto {
  margin: 0 auto;
}

@mixin mediaquery($value,$type: max-widht) {
  $size: $value;

  @media only screen and ($type: $size) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-end {
  display: flex;
  justify-content: end;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin border-radius-round {
  border-radius: 50px;
}

@mixin border-radius-pill {
  border-radius: 25px;
}

@mixin border-radius-large {
  border-radius: 20px;
}

@mixin border-radius-medium {
  border-radius: 10px;
}

@mixin border-radius-small {
  border-radius: 8px;
}

@mixin hexa-to-rgb($property,$colors, $opacity: 1) {
  #{$property}: rgba($colors, $opacity)
}

@mixin hexa-to-rgb($property, $colors) {
  #{$property}: rgb($colors)
}

@mixin shadow-sm {
  box-shadow: 0 0 5px rgba(1, 1, 1, 0.35);
}

@mixin shadow-md {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
}