.hero-menu {
  width: 100%;
  height: auto;
  z-index: -1;
  &__image {
    object-fit: cover;
    width: 100%;
    @include mediaquery(map-get($breakpoints, md), min-width) {
      height: 65vh;
    }
    @include mediaquery(map-get($breakpoints, lg), min-width) {
      height: 100vh;
    }
  }
}

.menu {
  width: 100%;
  z-index: 1;
  transform: translate(0, -4%);
  background: map-get($colors, neutral, light);
  padding: 32px 0;
  @include border-radius-round;
  .container {
    padding: 1rem;
  }
  h2 {
    @include typography($font-family-text,map-get($colors, neutral, dark), map-get($sizes, medium, 400));
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
    border-bottom: transparent;
    margin-bottom: 24px;
    &::before {
      @include pseudo-element;
      transform: scaleY(1.4);
      width: 40px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-bottom: 3px solid map-get($colors, terciary, normal);
    }
  }
  .main-dish, .dish, .desserts {

  }
  .btn {
    @include spacing-margin-auto;
  }
  &__like {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 2px;
  }
}

